
.search__container{
    border: 1px solid #dde1ef;
    border-radius: 8px!important;
    display: flex;
    position: relative;

    &__input{
    height: 35px;
    outline: none;
    margin: 0;
    overflow: hidden;
    background: #fff;
    font-size: 14px;
    color: #000;
    border: 1px solid #dde1ef;
    border-top-left-radius: 7px!important;
    border-bottom-left-radius: 7px!important;
    }
}

.result-box{
    color: #555;
    position: absolute;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    &__item{
        background-color: #fff;
        padding: 5px;
        display: block;
        cursor: pointer;
        border-top: 1px solid rgba(0,0,0,.1);

        &:hover{
            color: $main-color;
        }
    }
    &__img {
        text-align: center;
        float: left;
        width: 40px;
        margin-right: 5px;
        img {
            border: 0;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }

    &__title{
        margin-bottom: 0;
    margin-top: 0;
    line-height: 18px;
    text-transform: capitalize;
    font-size: 14px;
    }

    &__price{
        color: #fcaf17!important;
        font-size: 14px;
    }

    &__note{
        border-top: 1px solid rgba(0,0,0,.1);
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #222;
        line-height: 22px;
        padding: 7px 0;
        &:hover{
            color: $main-color;
        }
    }
}